<div class="row">
  <div class="col-sm-3">
    One of three columns
  </div>

  <div class="col-sm-6">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card-body">
            <%= post.content %>

            <% post.replies.each do |reply| %>
              <div class="card">
                <div class="card-body">
                  <%= reply.content %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% elsif %>
      <div class="card">
        <div class="card-body">
          You have no posts
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-3">
    One of three columns
  </div>
</div>
